.card {
    width: 200px;
    height: 200px;
    background-color: rgb(22, 54, 122);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    
    border-block-end: 5px solid rgb(11, 184, 112);
    border-block-start: 10px solid rgb(11, 184, 112);;
}



.title {
    text-align: center;
}

#field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
}


.symbol {
    text-align: center;
    margin-top: 80px;
    color: white;
}

.selected {
    
}